@{
    ViewBag.Title = "Thank You for Your Feedback";
    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
    if (User.IsInRole("Applicant"))
    {
        Layout = "~/Views/Shared/_ApplicantLayout.cshtml";
    }
}

<style>
    body {
        background-image: url('@Url.Content("~/images/thank-you-card-collage-concept.jpg")');
        background-size: cover;
        background-position: center;
        height: 100vh;
        margin: 0;
        
    }

    .thank-you-box {
        padding: 20px;
        max-width: 500px;
        color: white;
        margin-left: 100px;
        margin-top: 130px;
        text-align: left;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        font-family: 'Oswald', sans-serif;
    }
</style>
<div class="thank-you-box">
   <h2>Thank You for Your Feedback!</h2>
    <p>We appreciate your input. Your feedback has been received, and our team will evaluate it.</p>
    <p>Thank you for helping us improve!</p>
</div>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

