@model JobApplicationSystem.DAL.Models.Applicant
@{
    Layout = "~/Views/Shared/_ApplicantLayout.cshtml";
}
<h2>Edit Personal Information</h2>

@if (Model != null)
{
    <form asp-action="EditPersonalInfo" enctype="multipart/form-data">
        <input type="hidden" asp-for="ApplicantId" />

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Surname"></label>
            <input asp-for="Surname" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Education"></label>
            <input asp-for="Education" class="form-control" />
            <span asp-validation-for="Education" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" readonly />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Mobile"></label>
            <input asp-for="Mobile" class="form-control" />
            <span asp-validation-for="Mobile" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image" class="control-label">Current Photo: </label>
            <img id="currentPhoto" src="~/images/@Url.Content(Model.Image)" alt="Current Photo" style="max-width: 100px; padding-bottom: 20px; padding-left: 10px;" />
            <br />
            <input type="file" id="fileInput" name="ImageFile" accept="image/*" />
            <input type="hidden" asp-for="Image" />
            
        
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
       
       

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
}
else
{
    <p>No employer information found.</p>
}
<script>
    document.getElementById('fileInput').addEventListener('change', function (e) {
        const fileInput = e.target;
        const fileName = fileInput.files[0].name;
        const currentPhoto = document.getElementById('currentPhoto');
        const imageHidden = document.querySelector('input[type="hidden"][name="Image"]');

        currentPhoto.src = URL.createObjectURL(fileInput.files[0]);
        imageHidden.value = fileName;
    });
</script>