@{
    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
}

<style>
    #main {
        text-align: center;
        margin: 50px auto;
    }

    h1 {
        color: #2c3e50;
        font-size: 36px;
    }

    .dashboard-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dashboard-box {
        width: 200px;
        height: 150px;
        background-color: #4d331f;
        border-radius: 10px;
        margin: 20px;
        padding: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

        .dashboard-box h3 {
            color: #fff;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .dashboard-box p {
            color: #fff;
            font-size: 36px;
            font-weight: bold;
        }

    #quick-access {
        margin-top: 30px;
        text-align: center;
    }

        #quick-access p {
            color: #2c3e50;
            font-size: 20px;
            font-weight: bold; 
            margin-bottom: 20px;
        }

        #quick-access .horizontal-links {
            display: flex;
            justify-content: space-around;
        }

        #quick-access a {
            width: 150px;
            height: 40px;
            background-color: #8b6248;
            border: none;
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-decoration: none;
            margin: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            #quick-access a:hover {
                background-color: #333;
            }
</style>

<div id="main">
    <h1>Welcome to your Job Dashboard, Employer!</h1>

    <div class="dashboard-container">
        <div class="dashboard-box">
            <h3>Total Applications</h3>
            <p>50</p>
        </div>

        <div class="dashboard-box">
            <h3>Shortlisted Candidates</h3>
            <p>25</p>
        </div>

        <div class="dashboard-box">
            <h3>Interview Requests</h3>
            <p>10</p>
        </div>
    </div>

    <div id="quick-access">
        <p>Quick Access:</p>
        <div class="horizontal-links">
            <a href="/Job/CreateJob">Post a Job</a>
            <a href="/Job">My Job Posts</a>
            <a href="/Job/Jobs">All Job Posts</a>
            <a href="/Interview/EmployerScheduledInterviews">Scheduled Interviews</a>
            <a href="/Feedback/Create">Give Feedback</a>
        </div>
    </div>
</div>
