@{
    ViewData["Title"] = "Error!";
}
<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }

    header {
        text-align: center;
    }

    h4 {
        color: #FF0000;
    }
    p {
        margin-top: 10px;
        color: #333;
    }
</style>

<header>
    <h1>Application Deadline Passed.</h1>
    <p class="text-danger">The deadline to apply for this job has passed. You cannot submit a new application.</p>
    <div class="mt-3">
        <a href="@Url.Action("Jobs", "Job")" class="btn btn-outline-dark">Go Back</a>
    </div>
</header>
