@{
    ViewData["Title"] = "Error!";
}

<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }

    header {
        text-align: center;
    }

    h4 {
        color: #FF0000;

    p {
        margin-top: 10px;
        color: #333;
    }
</style>

<header>
    <h4>You've already applied for this job.</h4>
    <p>Check your applications.</p>
</header>
